@model portal.mps.Models.ViewModels.LoginViewModel
@inject SignInManager<portal.mps.Data.mpsUser> SignInManager
@{
    ViewData["Title"] = "Login Page";
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}   
<div class="row">
    <div class="col-md-offset-1 col-ms-10 col-md-offset-1 well well-sm text-center">
        <h3>Login to MPS Portal</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-controller="Auth" asp-action="Login">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" id="UserName"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" id="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        Forgot your password? Contact the adminstrator
                    </p>
                </div>
            </form>
    </div>
</div>