@{
    ViewBag.Title = "Edit Staff/Teachers";
}
<div class="container">
<div class="row well well-sm text-center">
    <h3>@ViewBag.Title</h3>
</div>
<div class="row" data-ng-app="app-mps" data-ng-controller="staff-edit">
    <div class="loader text-danger" data-ng-show="wait" >{{loaderMsg}}</div>
    <div class="col-md-4" style="border-right:1px solid #CCC">
        <div id="tableContainer">
        <table class="table table-responsive table-striped table-hover">
            <tr><td><input class="form-control" placeholder="Search" data-ng-model="searchtext" data-ng-change="changed()" id="searchText" /></td></tr>
            <tr data-ng-repeat="s in StaffList">
                <td style="text-align:center;cursor:pointer" data-ng-click="getStaff(s.staffId)">
                    <div class="row">
                        <div class="col-md-1"><i ng-class="getActiveClass(s.staffName.split('-')[0])"></i></div>
                        <div class="col-xs-6 text-left" style="margin-left:-11px">{{ s.staffName.split('-')[1] }}</div>
                        <div class="col-xs-3 text-left">{{ s.staffName.split('-')[2] }}</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table> 
        </div>
    </div>
    <div class="col-md-8" data-ng-show="staff.staffId">
         <form class="form-horizontal"  ng-submit="updateStaff()" name="frmEditStaff" novalidate>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body row">
                            <div class="col-md-12">
                                <div class="row">
                                    <input type="hidden" ng-model="staff.staffId" />
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Is Active</label> 
                                                <input type="checkbox" data-ng-model="staff.isActive" class="checkbox-inline" id="isActive">
                                            </div>
                                            <!-- <div class="col-md-12">
                                                <label id="lblisTeacher"></label> 
                                                <input type="checkbox" data-ng-model="staff.isTeacher" class="checkbox-inline" id="isTeacher">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label >Role</label> 
                                        <select name="cmbRole" ng-model="staff.staffrole" class="form-control" required >
                                        <option value="" disabled="" selected="" class="ng-binding">--Select Role--</option>
                                        <option ng-repeat="role in roles" ng-value="role.id">{{role.name}}</option>
                                        </select>
                                    </div>
                                     <div class="col-md-4">
                                        <img src="~/images/personPlaceholder.jpg" alt="Staff picture" style="border: 1px solid #CCC;"  id="picImg"/>
                                        <input type="file" id="filePic" name="filePic" style="display:none" accept="image/*"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    
                                    <div class="col-md-10">
                                        <label>FirstName</label>
                                        <input data-ng-model="staff.firstName" class="form-control" name="firstName"  required/>
                                        <span ng-show="frmEditStaff.firstName.$error.required" class="text-danger">First name is required.</span>
                                    </div>
                                    <div class="col-md-10">
                                        <label>MiddleName</label>
                                        <input data-ng-model="staff.middleName" Class = "form-control" name="middleName" id="middleName" />
                                        
                                    </div>
                                    <div class="col-md-10">
                                        <label>LastName</label>
                                        <input data-ng-model="staff.lastName" class = "form-control" name="lastName" id="lastName" required />
                                        <span ng-show="frmEditStaff.lastName.$error.required" class="text-danger">Last name is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label>Gender</label>
                                        <select id="cmbGender" name="cmbGender" data-ng-model="staff.gender" class = "form-control">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-10">
                                        <label>DOB</label>
                                        <input data-ng-model="staff.dob" name="dob" id="dob" class = "form-control datepicker" required readonly/>
                                        <span ng-show="frmEditStaff.dob.$error.required" class="text-danger">dob is required.</span>
                                    </div>
                                    <div class="col-md-10">
                                        <label>JoiningDate</label>
                                        <input data-ng-model="staff.joiningDate" name="joiningDate" id="joiningDate" class = "form-control datepicker" required readonly/>
                                        <span ng-show="frmEditStaff.joiningDate.$error.required" class="text-danger">dob is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Aadhaar Number</label><font color=red>*</font><span class="small">&nbsp;12 digit aadhaar no.</span>
                                    <input data-ng-model="staff.aadhaarNumber" name="aadhaarNumber" id="aadhaarNumber" class = "form-control"  required maxlength="12"/>
                                    <span ng-show="frmAddStaff.aadhaarNumber.$error.required && frmAddStaff.aadhaarNumber.$dirty" class="text-danger">Aadhaar Number is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row" style="padding-top:16px">
                                <div class="col-md-10">
                                    <img src="/images/img-icon.png" title="attach aadhaar card copy" id="aadhaarPic" style="max-height:47px"/>
                                    <input type="file" id="aadhaarCard" name="aadhaarCard" style="display:none" accept="image/*"/>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-md-offset-1 col-md-6 col-md-offset-5 text-info">
                                    To edit the salary details please go <a href="~/Expense/Staff?id={{staff.staffId}}">here</a>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <div class="panel-body row">
                            <div class="col-md-4">
                                <label>Email</label>
                                <input data-ng-model="staff.email" name="email" id="email" class = "form-control" type="email" required/>
                                <span ng-show="frmEditStaff.email.$error.required" class="text-danger">Email is required.</span>
                                <span ng-show="frmEditStaff.email.$error.email" class="text-danger">Email format is incorrect</span>
                            </div>
                            <div class="col-md-4">
                                <label>UserName</label>
                                <input data-ng-model="staff.userName"class = "form-control"  readonly/>
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                    </div>
                </div> <!--panel group-->
                <div class="row">
                    <div class="col-xs-4">
                        <label>PhoneNumber</label>
                        <input data-ng-model="staff.phoneNumber" class = "form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label>Address1</label>
                        <textarea data-ng-model="staff.address1" name="address1" class = "form-control" required></textarea>
                        <span ng-show="frmEditStaff.address1.$error.required" class="text-danger">The address1 is required.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label>Address2</label>
                        <textarea data-ng-model="staff.address2" class = "form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11" style="text-align:right">
                        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="frmEditStaff.$invalid || wait">Update Staff</button>
                    </div>
                </div>
         </form>
    </div>
    <div class="col-md-8" data-ng-hide="staff.staffId" style="padding-top:48px">
        <h4>&lt;&lt;Select a staff</h4>
    </div>
</div>
 </div>
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <environment include="Development">
        <script src="~/js/admin-staff.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/minjs/admin-staff.js"></script>
        <script src="~/minjs/bootstrap-datepicker.js"></script>
    </environment>
    <link rel="stylesheet" href="/css/datepicker.css" />
    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
        });
        $('.datepicker').on('click',function(){
            $('.datepicker').data({date: $(this).val()});
        });
        function changechk() {
            if ($('#isTeacher').is(':checked')) {
                $('#isTeacher').attr('style', 'background-color:green;outline:5px solid green');
                $('#lblisTeacher').text("TEACHER");
            }
            else {
                $('#isTeacher').attr('style', 'background-color:yellow;outline:5px solid yellow');
                $('#lblisTeacher').text("NOT A TEACHER");
            }
        }
        $('#isTeacher').on('change', function () {
            changechk();
        });

        function activechk() {
            if ($('#isActive').is(':checked')) {
                $('#isActive').attr('style', 'background-color:green;outline:5px solid green');
            }
            else {
                $('#isActive').attr('style', 'background-color:yellow;outline:5px solid yellow');
            }
        }
        $('#isActive').on('change', function () {
            activechk();
        });
        $('#picImg').click(function(){
            $('#filePic').trigger('click');
        });
        $('#filePic').bind('change', function() {
            var f = this.files[0];
            if(f){
                if(f.type.indexOf('image')==-1){
                    alert('please upload only images \n files of type GIF, PNG, JPEG, BMP\nare supported')
                    return false;
                }
                var s = formatBytes(f.size);
                if(Number(s.split(' ')[0])>1.3 && s.split(' ')[1] == 'MB'){
                    alert('The image file cannot be more that\n1 MB, please crop the image to 150px X 150px\n this will reduce the size, and try re-uploading');
                    return false;
                }
                else{
                    readURL(this);
                }
            }
            else
            {
                return false;
            }
        });
    });
    $('#aadhaarPic').click(function(){
                $('#aadhaarCard').trigger('click');
        });
        $('#aadhaarCard').bind('change',function(){
            var f = this.files[0];
            if(f){
                if(f.type.indexOf('image')==-1){
                    alert('please upload only images \n files of type GIF, PNG, JPEG, BMP\nare supported')
                    return false;
                }
                var s = formatBytes(f.size);
                if(Number(s.split(' ')[0])>1.3 && s.split(' ')[1] == 'MB'){
                    alert('The image file cannot be more that\n1 MB, please crop the image to 150px X 150px\n this will reduce the size, and try re-uploading');
                    return false;
                }
                else{
                    readAadhaar(this,'aadhaarPic');
                }
            }
            else
            {
                return false;
            }
        });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                    $('#picImg').attr('src', e.target.result);
                    $('#picImg').attr('style','width: 150px; max-height: 150px;');
                }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function readAadhaar(input, p) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                        $('#'+p).attr('src', e.target.result);
                    }

                reader.readAsDataURL(input.files[0]);
            }
        }
    function formatBytes(bytes,decimals) {
        if(bytes == 0) return '0 Bytes';
        var k = 1024,
        dm = decimals || 2,
        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k));
        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }
    </script>
}