@{
    ViewBag.Title = "Add/Edit Expense headers";
}
<div class="container">
<div class="row well well-sm text-center">
    <h3>@ViewBag.Title</h3>
</div>
<div class="row" data-ng-app="app-mps" data-ng-controller="admin-expense">
    <div class="loader text-danger" data-ng-show="wait">Loading...</div>
    <div class="col-md-4" style="border-right:1px solid #CCC">
        <div id="tableContainer">
        <table class="table table-responsive table-striped table-hover">
            <tr><td><input class="form-control" placeholder="Search" data-ng-model="searchtext" data-ng-change="changed()" id="searchText" /></td></tr>
            @*<tr><td>{{searchtext}}</td></tr>*@
            <tr data-ng-repeat="e in ExpenseHeaderList">
                <td style="text-align:center;cursor:pointer" data-ng-click="getExpense(e.id,e.expenseHeaderName,e.expenseHeaderDesc)">{{ e.expenseHeaderName }}</td>
            </tr>
        </table>
        </div>
    </div>
    <div class="col-md-8" style="padding-top:48px">
        <form name="frmExpenseHeader" ng-submit="addExpenseHeader()" novalidate>
            <div class="row">
                <div class="col-md-8">
                    <input ng-model="expense.expenseId" type="hidden" />
                </div>
                <div class="col-md-8">
                    <label>Expense Header Name</label>
                    <input name="expenseName" id="expenseName" ng-model="expense.expenseName" class="form-control" required/>
                    <span ng-show="frmExpenseHeader.expenseName.$error.required && frmExpenseHeader.expenseName.$dirty " class="text-danger">Name is required.</span>
                </div>
                <div class="col-md-8">
                    <label>Expense Header Description</label>
                    <textarea name="expenseDesc" id="expenseDesc" ng-model="expense.expenseDesc" class="form-control" ></textarea>
                </div>
                <div class="row">
                    <div class="col-md-5 text-right" style="padding-top: 14px;">
                        <span ng-show="expense.expenseId" ng-click="clearExpenseForm()" class="btn btn-sm btn-warning">clear</span>    
                    </div>   
                    <div class="col-md-5 text-right">
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="frmExpenseHeader.$invalid || wait">{{ expenseButtonText }}</button>
                    </div> 
                </div>
                
            </div>
        </form>
    </div>
</div>
</div>
@section scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <environment include="Development">
        <script src="~/js/admin-expense.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/minjs/admin-expense.js"></script>
    </environment>
}