@{
    ViewBag.Title = "Admin page";
}
<div class="row">
    <div class="col-md-offset-1 col-ms-10 col-md-offset-1 well well-sm text-center">
            <h3>@ViewBag.Title</h3>
    </div> 
    <div class="col-md-offset-1 col-ms-10 col-md-offset-1">
        You can :<br>
        <a href='Admin/Students'>Add students</a><br>
        <a href="Admin/Staff">Add Staff/Teachers</a><br>
        <a href="Admin/EditStudent">Edit students</a><br>
        <a href="Admin/EditStaff">Edit staff</a><br>
        <a href="Admin/Expense">Edit expense headers</a><br>
        <a href="Admin/Slabs">Edit Student Slabs</a>
    </div>
</div>
