/node_modules
/bin
/obj
/Logs
/Migrations
/wwwroot/temp
/wwwroot/images
/wwwroot/lib
/.vscode
*.dll
*.pdf
*.xls
*.xslx
*.json
*.txt
mpsSeeder.cs
AdminRepository.cs
ExpenseController.cs
StudentsController.cs
ExpenseRepository.cs
StudentsRepository.cs
Msg91.cs
/Models/ViewModels